Source: gfetchseq
Maintainer: Alexis Peringer <alexper.recovery@gmail.com>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: gfetchseq
Architecture: all
Description: fetch fasta gh38 sequences from gatk_interval file
Depends: ${python3:Depends},biopython,bioblend,pandas
